# Ignore all output files
/output/**

# Ignore all logs files
/logs/**

# Ignore ToDo list
/ToDo.todo

# Virtual environments
venv/
env/
.env/
.venv/

# Ignore gitignore
.gitignore

# Ignore pycache
**/__pycache__/**
